xrdb ~/.Xresources &
conky -q -c ~/.config/conky/conky1/conkyrc1 &
picom &
sxhkd &
fcitx -d &
dunst &

xset r rate 300 50 &
xmodmap ~/.Xmodmap &

random-wallpaper.sh &

redshift -O 5000 &

polybar -r main --config=$HOME/.config/polybar/config.ini &
