xrdb ~/.Xresources &
conky -q -c ~/.config/conky/conky1/conkyrc1 &
picom &
sxhkd &
fcitx -d &
dunst &
redshift_toggle.sh &

hsetroot -cover ~/Pictures/Wallpapers/Wallpapers/forest-sunset-artwork.jpg &

xset r rate 300 50 
xmodmap /home/precision/.Xmodmap

polybar -r main --config=$HOME/.config/polybar/config.ini &
