xrdb ~/.Xresources &
conky -q -c ~/.config/conky/conky1/conkyrc1 &
picom &
sxhkd &
fcitx -d &
dunst &

hsetroot -cover ~/Pictures/Wallpapers/Wallpapers/forest-sunset-artwork.jpg &

xset r rate 300 50 
xmodmap /home/precision/.Xmodmap

redshift -O 5000 &
redshift -O 5000 &

polybar -r main --config=$HOME/.config/polybar/config.ini &
