
[mgr]

keymap = []

prepend_keymap = [
  # NAVIGATION
  { on = "k", run = "arrow -1" },
  { on = "j", run = "arrow 1" },
  { on = "h", run = "leave" },
  { on = "l", run = "enter" },
  { on = "g", run = "arrow -99999999" },
  { on = "G", run = "arrow 99999999" },

  # SELECTION
  { on = "<Space>", run = [ "toggle", "arrow 1" ] },

  { on = [ "d", "t" ], run = "remove" },                 # dt: trash
  { on = [ "d", "d" ], run = [ "yank --cut", "toggle_all --state=off" ] },
  { on = [ "d", "D" ], run = "remove --permanently" },   # dD: delete
  { on = [ "d", "u" ], run = "shell --block 'du --max-depth=1 -h --apparent-size | sort -rh | less'" },

  { on = [ "y", "y" ], run = [ "yank", "toggle_all --state=off" ] },

  # dd: cut + clear selection
  { on = "p", run = "paste" },                           # p: paste
  { on = "P", run = "paste --force" },                   # P: paste overwrite

  # UNDO
  { on = [ "u", "v" ], run = "toggle_all --state=off" }, # uv: unselect all
  { on = [ "u", "y" ], run = "unyank" },                 # uy: cancel yank

  # MAKE DIR / FILE
  { on = [ "m", "d" ], run = "create" },                 # md: mkdir (enter name)
  { on = [ "m", "f" ], run = "shell --block 'printf \"Filename: \"; read fn; touch \"$fn\"'" }, # mf: new file

  # YANK TO CLIPBOARD
  { on = [ "y", "p" ], run = "shell --block 'printf \"%s\" \"$1\" | xclip -i -sel clip'" },
  { on = [ "y", "d" ], run = "shell --block 'dirname \"$1\" | xclip -i -sel clip'" },
  { on = [ "y", "n" ], run = "shell --block 'basename \"$1\" | xclip -i -sel clip'" },
  { on = [ "y", "." ], run = "shell --block 'basename \"$1\" | sed \"s/\\.[^.]*$//\" | xclip -i -sel clip'" },

  # IMAGE CLIPBOARD
  { on = [ "y", "i", "p" ], run = "shell --block 'xclip -sel clip -t image/png -i \"$1\"'" },
  { on = [ "y", "i", "j" ], run = "shell --block 'xclip -sel clip -t image/jpg -i \"$1\"'" },
  { on = [ "y", "i", "t" ], run = "shell --block 'xclip -sel clip -t text/plain -i \"$1\"'" },

  # PHONE / DEVICE
  { on = [ "y", "i", "k" ], run = "shell --block 'kdeconnect-cli -d 439fc7a8f3a87d51 --share \"$@\"'" },

  # CHMOD / STRIP SPACES
  { on = [ "c", "h" ], run = "shell --block 'printf \"Mode: \"; read mode; for f in \"$@\"; do chmod \"$mode\" \"$f\"; done'" },
  { on = [ "c", "r" ], run = "shell --block 'for f in \"$@\"; do mv \"$f\" \"$(echo \"$f\" | tr \" \" \"-\")\"; done'" },

  # RENAME
  { on = [ "r", "a" ], run = "rename" },
  { on = [ "r", "e" ], run = "rename --cursor=before_ext" },
  { on = [ "r", "b" ], run = "shell --block 'tmpfile=$(mktemp); printf \"%s\n\" \"$@\" > \"$tmpfile\"; \"$EDITOR\" \"$tmpfile\"; while IFS= read -r old; do read -r new <&3 || break; [ \"$old\" != \"$new\" ] && [ ! -e \"$new\" ] && mv -- \"$old\" \"$new\"; done < \"$tmpfile\" 3< <(tail -n +2 \"$tmpfile\"); rm -f \"$tmpfile\"'" },
  { on = [ "r", "i" ], run = "rename" },

  # ARCHIVE
  { on = [ "a", "u" ], run = "shell --block 'for f in \"$@\"; do case \"$f\" in *.tar.bz2) tar xjf \"$f\";; *.tar.gz) tar xzf \"$f\";; *.bz2) bunzip2 \"$f\";; *.rar) unrar x \"$f\";; *.gz) gunzip \"$f\";; *.tar) tar xf \"$f\";; *.tbz2) tar xjf \"$f\";; *.tgz) tar xzf \"$f\";; *.zip) unzip \"$f\";; *.Z) uncompress \"$f\";; *.7z) 7z x \"$f\";; *.deb) ar x \"$f\";; *.tar.xz) tar xf \"$f\";; *.tar.zst) unzstd \"$f\";; esac; done'" },
  { on = [ "a", "z" ], run = "shell --block 'for f in \"$@\"; do zip -r \"${f}.zip\" \"$f\"; done'" },
  { on = [ "a", "t" ], run = "shell --block 'for f in \"$@\"; do tar cvf \"${f}.tar\" \"$f\"; done'" },
  { on = [ "a", "g" ], run = "shell --block 'for f in \"$@\"; do tar cvzf \"${f}.tar.gz\" \"$f\"; done'" },
  { on = [ "a", "b" ], run = "shell --block 'for f in \"$@\"; do tar cjvf \"${f}.tar.bz2\" \"$f\"; done'" },

  # ZOXIDE
  { on = [ "z", "z" ], run = "shell --block 'res=\"$(zoxide query --exclude \"$PWD\" \"$@\")\"; [ -n \"$res\" ] && cd \"$res\"'" },
  { on = [ "z", "i" ], run = "shell --block 'res=\"$(zoxide query -i)\"; [ -n \"$res\" ] && cd \"$res\"'" },

  # FZF
  { on = [ "f", "f" ], run = "shell --block 'res=\"$(find . -maxdepth 3 | fzf --reverse --header=\"Jump\")\"; [ -d \"$res\" ] && cd \"$res\" || [ -f \"$res\" ] && echo \"$res\"'" },
  { on = [ "f", "l" ], run = "shell --block 'res=\"$(locate home media | fzf -i --reverse --header=\"Locate\")\"; [ -d \"$res\" ] && cd \"$res\" || [ -f \"$res\" ] && echo \"$res\"'" },

  # IMAGE OPS
  { on = [ "e", "p" ], run = "shell --block 'nohup sxiv \"$@\" &> /dev/null &'" },
  { on = [ "e", "g" ], run = "shell --block 'printf \"Quality: \"; read q; printf \"Rotation: \"; read r; printf \"Filename: \"; read fn; convert -size 810x1080 -rotate \"$r\" \"$@\" -resize 810x1080 -extent 810x1080 -background white -quality \"$q\" \"${fn}.pdf\"'" },
  { on = [ "e", "s" ], run = "shell --block 'curl -F\"file=@$1\" https://0x0.st | xclip -sel clip && echo \"URL copied\"'" },
  { on = [ "e", "i" ], run = "shell --block 'exiftool \"$1\" | less'" },
  { on = [ "e", "e" ], run = "shell --block '\"$EDITOR\" \"$@\"'" },
  { on = [ "e", "c" ], run = "shell --block 'nvim -d \"$@\"'" },
  { on = [ "e", "d" ], run = "shell --block '\"$EDITOR\" \"$HOME/.config/yazi/yazi.toml\"'" },

  # WALLPAPER
  { on = [ "b", "g" ], run = "shell --block 'cp \"$1\" ~/.config/wall.png && xwallpaper --stretch \"$1\"'" },
  { on = [ "b", "s" ], run = "shell --block '~/bin/bash_scripts/personal/wallpaper.sh \"$1\"'" },
  { on = [ "b", "t" ], run = "shell --block 'cp \"$1\" ~/.mozilla/firefox/oduj1f5k.default-release/chrome/newtab_background.jpg'" },

  # VIDEO
  { on = [ "V", "a", "a" ], run = "shell --block 'ffmpeg -i \"$1\" -vn -c copy \"audio_$(basename \"$1\")\"'" },
  { on = [ "V", "n", "a" ], run = "shell --block 'ffmpeg -i \"$1\" -an -c copy \"no_audio_$(basename \"$1\")\"'" },

  # BASIC SYSTEM
  { on = "q", run = "quit" },
]

[tasks]
keymap = []

[input]
keymap = []

[confirm]
keymap = []

[help]
keymap = []
